
@import url(http://weloveiconfonts.com/api/?family=fontawesome|zocial);


body{
	margin:0;
	background-color: #E6D59F;
    font-family: 'Fondamento', cursive;

}

/* Menu Repositivo */

header {
	
	width: 100%;
	background: #FF6D24;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
#btn-menu {
	display: none;
}

header label {
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #E2DED3;
}

header label:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.3)
}

.menu ul{

	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;

}

.menu li{
	text-align: center;
	font-style:normal;
	font-weight:;
	font-size:1em;
	font-color:#ffffff;
	font-family: 'Fondamento', cursive;
	flex-grow: 1;
	border-right: 1px solid #E2DED3;
}

.menu li:hover {
	background: rgba(0,0,0,0.3);
}


.menu li a{
	display:block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}

@media (max-width: 768px){
	header label {
		display: block;
	}

	.menu {
		position: absolute;
		background: #FF6D24;
		width: 60%;
		margin-left: -60%;
		transition: all 0.5s;
	}

	.menu ul{
		flex-direction: column;
	}

	.menu li {
		border-top: 1px solid #E2DED3;
	}

	#btn-menu:checked ~ .menu{
		margin: 0;

	}
}

/* Resto del programa */ 
.principal{
    display: block;
    height: 2px;
    border: 0;
    border-top: 3px solid #FF9E34;
    margin: 4em 5% 4em 5%;
    padding: 0;
}


.separador{
	display: block;
    height: 2px;
    border: 0;
    border-top: 10px double #FF9E34;
    margin: 3em 15% 3em 15%;
    padding: 0;
}

#necesidades img {

	float: right;
	display: inline;
	margin: 5% 1% 7% 1%;
	border-radius: 50%;
	width: 100%;
	max-width: 300px;
}

/* margenes */
.need {
	margin: 0 10% 0 7%
}

.section_title{
	margin: 0 2% 1% 2%;
	font-style:normal;
	font-weight:bold;
	font-size:1.8em;
	font-color:#ffffff;
}

article{
	margin: 0 5% 0 5%;
}

#tecnologias p{
	margin: 0 1% 0 1%;
}
#tecnologias h3{
		font-size:1.4em;
}

.referencias {
		margin: 0 1% 0 3%;

}

p{
	font-weight:normal;
	font-size:1.2em;
	font-color:#ffffff;
}

.need_value_main{
	margin-left: 2%;
}

.need_value{
		margin-left: 2%;
}

a:link{ color: #FF6D24; text-decoration: none}

a:visited{ color: grey; text-decoration: none}

a:hover{ color: #FF6D24; text-decoration: underline}

/* footer */

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

footer .contenedor{
	width: 100%
	padding-bottom: 0.2em;
	background: rgb(255,109,36,0.8);
	justify-content: center;
	color: #333;
	text-align: center;
	font-size: 1.4em;
}

.cpy{
	font-size: 0.8;
}

.sociales a {
	font-size: 34px;
	padding-left: 0.3em;
	color: #333;
	text-decoration: none;
}
