

body{
	margin:0;
	background-color: #E3CE9D;
    font-family: 'Fondamento', cursive;

}



/* Menu Repositivo */

header {
	
	width: 100%;
	background: #FF6D24;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
#btn-menu {
	display: none;
}

header label {
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #E2DED3;
}

header label:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.3)
}

.menu ul{

	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;

}

.menu li{
	text-align: center;
	font-style:normal;
	font-weight:;
	font-size:1em;
	font-color:#ffffff;
	font-family: 'Fondamento', cursive;
	flex-grow: 1;
	border-right: 1px solid #E2DED3;
}

.menu li:hover {
	background: rgba(0,0,0,0.3);
}


.menu li a{
	display:block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}

@media (max-width: 768px){
	header label {
		display: block;
	}

	.menu {
		position: absolute;
		background: #FF6D24;
		width: 60%;
		margin-left: -60%;
		transition: all 0.5s;

	}

	.menu ul{
		flex-direction: column;
	}

	.menu li {
		border-top: 1px solid #E2DED3;
	}

	#btn-menu:checked ~ .menu{
		margin: 0;

	}
}

/* Resto del programa */ 
.principal{
    display: block;
    height: 2px;
    border: 0;
    border-top: 3px solid #FF9E34;
    margin: 4em 4% 4em 4%;
    padding: 0;
}


.separador{
	display: block;
    height: 2px;
    border: 0;
    border-top: 10px double #FF9E34;
    margin: 3em 15% 3em 15%;
    padding: 0;
}

#necesidades img {
	border-radius: 50%;
	width: 100%;
	max-width: 300px;
}

/* margenes */
.need {
	margin: 0 10% 0 7%
}

h2{
	margin: 0 2% 1% 2%;
}

article{
	margin: 0 5% 0 5%;
}

#tecnologias p{
	margin: 0 1% 0 1%;
}

.referencias {
		margin: 0 1% 0 3%;

}

p{
	font-weight:nor;
	font-size:1em;
	font-color:#ffffff;
	font-family: 'Fondamento', cursive;
}
